############################
# Python
############################

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.ipynb_checkpoints/

env/
venv/
.venv/

############################
# LaTeX
############################

*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

############################
# PDFs compilados
############################

*.pdf

############################
# macOS
############################

.DS_Store

############################
# Gaussian / ORCA outputs
############################

*.chk
*.rwf
*.tmp
*.gbw
*.engrad
*.hess
*.wfn
*.wfx

############################
# datasets temporales
############################

data/tmp/
